pytorch-lightning
python-dotenv
hydra-core
hydra-colorlog
wandb
auraloss
yt-dlp
datasets
pyloudnorm
einops
omegaconf
rich
plotly
librosa
museval
transformers
eng-to-ipa

audio-diffusion-pytorch==0.0.43
audio-data-pytorch
quantizer-pytorch
difformer-pytorch
a-transformers-pytorch
